<script>
//$(document).ready(function() {
	$("#seeds-navbar").addClass("active");
//})
</script>

<script>
//function loadajax(){
  $.ajax({ 
    url:'/api/v1/was/thumbnails/druid_id/<%= @druid %>',
    format:"json",
    data:"username=test",
    type:"get",
    success:function(data){
    	if(data['thumbnails'].length == 0 ){
    		$('#thumbTable').html("There's no available thumbnails for druid "+"<%= @druid %>"); 
    	} else {
	    	var r = new Array(), j = -1;
	 	    r[++j] ='<tr><th>Thumb</th><th>Date</th></tr>';
	
			var size=data['thumbnails'].length;
			for (var key=0 ; key<size; key++){
			     r[++j] ='<tr><td><img src="';
			     r[++j] = data['thumbnails'][key]['thumbanil_uri'];
			     r[++j] = '" ></td><td>';
			     r[++j] = data['thumbnails'][key]['memento_datetime'];
			     r[++j] = '</td></tr>';
			}
			$('#thumbTable').html(r.join('')); 
			$('#thumbTable').DataTable({ "scrollY": "200px", "scrollCollapse": true, "paging": false });
		 }
    },
    error: function(){
    	$('#thumbTable').html("There's no available thumbnails for druid "+"<%= @druid %>"); 
    }
  });
//}
</script>
<p>
<table id="thumbTable" class="table" > </table>
</p>
<br />
<div align="right"><a href="/admin/seeds">Return to seed list page</div>

