---
http_interactions:
- request:
    method: get
    uri: https://swap.stanford.edu/20120101120000id_/http://test2.edu/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '60'
      Open-Timeout:
      - '60'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n   \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n\n\n\n\n\n<html
        lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n    <title>Stanford Web Archive Portal</title>\n\n   <!--
        Bootstrap sytles -->\n    <link href=\"https://swap.stanford.edu/css/bootstrap.min.css\"
        rel=\"stylesheet\">\n\n    <!-- HTML5 Shim and Respond.js IE8 support of HTML5
        elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work
        if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script
        src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n
        \   <![endif]-->\n\n    <!-- Two stylesheets below are for Stanford Identity
        footer -->\n    <link href=\"https://www.stanford.edu/su-identity/css/su-identity.css\"
        rel=\"stylesheet\">\n    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'
        rel='stylesheet' type='text/css'>\n    <!-- Original Wayback Machine CSS -->\n
        \   <link href=\"https://swap.stanford[...]
